.about {
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.about .work-block {
	float: right;
	width: 400px;
}

.work-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-info {
	float: left;
	margin-left: 25px;
	max-width: 260;
}

.work-item {
	margin-bottom: 8px;
}

.work-what {
	font-family: "fira_sansmedium";
	font-size: 16px;
	float: left;
}
.work-info {
	font-family: "fira_sansbook";
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}

.image-block {
	float: left;
	margin-left: 55px;
	margin-top: 18px;
}
.photo-block {
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.photo {
	width: 142px;
}