.about {
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 30px;
}
.about .work-block {
	float: right;
	width: 423px;
}

.about-block {
	padding-bottom: 30px;
}
.work-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-info {
	float: left;
	margin-left: 25px;
	max-width: 260;
}

.work-item {
	margin-bottom: 8px;
}

.work-what {
	font-family: "fira_sansmedium";
	font-size: 16px;
	float: left;
}
.work-info {
	font-family: "fira_sansbook";
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}

.image-block {
	float: left;
	margin-left: 55px;
	margin-top: 18px;
}
.photo-block {
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.photo {
	width: 142px;
}
.skills-list {
	padding: 0;
	padding-left: 13px;
    padding-top: 4px;
}
.skill-item {
	display: inline-block;
	background-image: -webkit-linear-gradient(bottom, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
	background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
	border-radius: 2px;
	font-family: 'proxima_nova_rg';
	font-size: 14px;
	font-weight: 600;
	color: white;
	padding: 0px 8px 1px 8px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.about-block-icon {
		padding: 0 0 13px 125px;
	    position: relative;
}
.info-h3, .info-text{
	margin: 0;
	padding: 0;
	font-family: 'fira_sansbook';
	font-weight: 300;
}

.info-h3 {
	font-size: 17px;
	/*line-height: 17px;*/
}

.info-text {
	font-size: 15px;
	line-height: 17px;
}
.about-info-work-edu {
	margin-bottom: -4px;
}

.about-info-work-edu:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.briefcase:before {
	background-image: url(../img/briefcase.png);
	background-repeat: no-repeat;
	left: 76px;
    padding-bottom: 25px;
    width: 36px;
	height: 34px;
}

.cap:before {
	background-image: url(../img/academic_cap.png);
	background-repeat: no-repeat;
	left: 72px;
    padding-bottom: 25px;
    width: 42px;
	height: 23px;
}
.paper:before {
	background-image: url(../img/paper.png);
	background-repeat: no-repeat;
	left: 80px;
    padding-bottom: 30px;
    width: 36px;
	height: 34px;
}

.info {
	float: right;
	width: 650px;
}
.info-h2 {
	color: #3ba8c0;
	font-size: 27px;
	font-weight: normal;
	width: 300px;
	padding-left: 25px;
	line-height: 2.5;
	vertical-align: middle;
	margin: 0 0 24px 0;
}

.info-h2 {
	content: " ";
	display: block;
	border-bottom: 3px solid #3ba8c0;
}