.contact-icon {
    background-image: url(../img/contacts-icon.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    padding-left: 54px;
}

.contacts-email {
    background-position: -5px -5px;
    background-color: #41b9d4;
 }

.contacts-phone {
    background-position: -5px -31px;
    background-color: #48cbe8;
}

.contacts-skype {
    background-position: -5px -62px;
    background-color: #51daf8;
}
