.contact-form-block {
	width: 650px;
	height: 840px;
	background-color: #eff3f7;
	border-radius: 4px;
	float: right;
	margin-bottom: 32px;

}

.contact-form-header {
	width: 650px;
	height: 138px;
	background-color: #48cbe8;
	border-radius: 4px;
}

.contact-form-header:after {
	content: " ";
	display: block;
	height: 17px;
	background-color: #67dffa;
	position: relative;
	top: 88%;
}

.contact-form-h2 {
	font-size: 27px;
	font-family: 'fira_sansbook';
	color: white;
	margin: 0;
	position: relative;
	top: 35%;
	right: 9%;
	float: right;
}

.contact-form {
	margin: 0;
	width: 417px;
	position: relative;
	top: 50px;
	left: 18%;
}

.contact-form-lable, .contact-form-lable-capcha, .contact-form-lable-name, .contact-form-lable-email {
	color: #959aa8;
	font-family: 'fira_sansbook';
	font-size: 19px;
	padding-bottom: 10px;
	width: 100%;
}

.contact-form-lable {
	float: left;
}
.contact-form-lable-name, .pull-left {
	float: left;
	width: 50%;
}

.contact-form-lable-email, .pull-right {
	float: right;
	width: 47.5%;
}

.contact-form-lable-capcha {
	float: left;
}


.contact-form-input-text, .contact-form-capcha-input-text {
	width: 184px;
	height: 37px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 2px;
	font-family: 'fira_sansbook';
	font-size: 13px;
	padding-left: 10px;
	color:#48cbe8;
}
.contact-form-textarea {
	resize: none;
	width: 402px;
	height: 169px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	float: left;
	font-family: 'fira_sansbook';
	font-size: 13px;
	color:#48cbe8;
	padding-left: 10px;
	padding-top: 14px;
}

.contact-form-capcha {
	width: 191px;
	height: 79px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	float: left;
	margin-bottom: 30px;
}

.contact-form-capcha-text {
	color: #58697a;
	font-family: 'ogilvie';
	font-size: 43px;
	position: relative;
	top: 19px;
	left: 29px;

}

.contact-form-capcha-input-text {
	width: 192px;
	height: 32px;
	float: right;
	margin-top: 19px;
}


.contact-form-button {
	color: white;
	font-size: 19px;
	font-family: 'fira_sansbook';
	padding-right: 21px;
	padding-left: 21px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:0;
}

.button-send {
	background-color: #48cbe8;
	-webkit-box-shadow: 0px 4px 0px #3ba8c0;
	-moz-box-shadow:    0px 4px 0px #3ba8c0;
	box-shadow:         0px 4px 0px #3ba8c0;
	float: left;
}

.button-send:hover {
/*    padding-bottom: 4px;*/
    -webkit-box-shadow: 0px 0px 0px #3ba8c0;
	-moz-box-shadow:    0px 0px 0px #3ba8c0;
	box-shadow:         0px 0px 0px #3ba8c0;
}

.button-send:focus {
    -webkit-box-shadow: 0px -4px 0px #3ba8c0;
	-moz-box-shadow:    0px -4px 0px #3ba8c0;
	box-shadow:         0px -4px 0px #3ba8c0;
    border: 0;
}

.button-reset {
	background-color: #849db5;
	-webkit-box-shadow: 0px 4px 0px #687b8f;
	-moz-box-shadow:    0px 4px 0px #687b8f;
	box-shadow:         0px 4px 0px #687b8f;
	float: right;
}

.button-reset:hover {
    -webkit-box-shadow: 0px 0px 0px #687b8f;
	-moz-box-shadow:    0px 0px 0px #687b8f;
	box-shadow:         0px 0px 0px #687b8f;
}

.button-reset:focus {
    -webkit-box-shadow: 0px -4px 0px #687b8f;
	-moz-box-shadow:    0px -4px 0px #687b8f;
	box-shadow:         0px -4px 0px #687b8f;
}

.has-error {
    background-color: #fad2d1 !important;
    border-color: #f97e76 !important;
}

.qtip-mystyle {
    background-color: #f97e76;
    border-color: #f97e76;
    font-family: 'fira_sansbook';
    color: #ffffff;
    font-size: 13px;
}
