.gallery-info-h2 {
	color: #3ba8c0;
	font-size: 27px;
	font-weight: normal;
	width: 200px;
	padding-left: 25px;
	line-height: 2.5;
	vertical-align: middle;
	margin: 0 0 26px 0;
	content: " ";
	display: block;
	border-bottom: 3px solid #3ba8c0;
}

.gallery {
	width: 649px;
	min-height: 640px;
	background-color: #eff3f7;
	border-radius: 4px;
	float: right;
}

.gallery-item {
	width: 181px;
	/*height: 197px;*/
	padding-left: 18px;
	padding-right: 10px;
	/*padding-bottom: 22px;*/
	display: inline-block;
}

.gallery-img {
	width: 182px;
	height: 127px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	position: relative;
	margin: 0px auto;
}

.gallery-text-hover {
	display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: rgba(1, 108, 164, 0.75);
    text-align: center;
    color: #fff;    
    padding: 20px;
    font-size: 12px;
}

.gallery-link-hover {
	margin-top: 32px;
	margin-left: 35px;
    display: block;
    text-decoration: none;
    color: #eff3f7;
    border: 2.5px solid #eff3f7;
	border-radius: 4px;
	font-size: 12px;
	width: 66px;
}

.gallery-img:hover .gallery-text-hover, .gallery-link-add:hover .gallery-text-hover {
	display: block; 
    width: 142px;
    height: 87px;
    cursor: pointer;
    border: 2px solid #3ba8c0;
	border-radius: 4px;
}

.gallery-link-add .gallery-link-hover {
	width: 107px;
	margin-left: 17px;
}

.gallery-link {
	text-decoration: none;
	color: #3ba8c0;
	font-family: 'fira_sansbook';
	font-size: 13px;
	font-style: italic;
	position: relative;
	top: 10px;
	right: 35%;
	float: right;
}

.gallery-text {
	position: relative;
	right: 0%;
	float: left;
	font-size: 15px;
	color: #4a545d;

}

.gallery-img-add {
	width: 182px;
	height: 129px;
	background-color: rgba(236, 251, 255, 0.64);
	border: 1px dashed #3ba8c0;
	border-radius: 4px;
	background-image: url(../img/gallery/icon-gallery-empty.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 74px 33px;
	position: relative;
	margin: 0px auto;	
	cursor: pointer;
}

.gallery-link-add{
	text-decoration: none;
	color: #3ba8c0;
	font-family: 'fira_sansbook';
	font-size: 13px;
	position: relative;
	top: 20px;
}
.gallery-link-add-text {
	position: relative;
	top: -65px;
	right: -40px;
}

.popup {
	display: none;
	width: 362px;
	height: 493px;
	background-color: #eff3f7;
	border-radius: 4px;
	box-shadow: 0 6px 12.5px 0.5px rgba(13, 16, 7, 0.35);
	position: relative;
}

.popup-inner {
	padding: 20px;
}

.form-popup-header {
	width: 100%;
	height: 51px;
	background-color: #48cbe8;
	border-radius: 4px;
}

.form-popup-header:after {
	content: " ";
	display: block;
	width: 100%;
	height: 9px;
	background-color: #67dffa;
	float: left;
}

.form-popup-h2 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
	color: white;
	float: left;
	margin-left: 12px;
	margin-top: 7px;
}
.popup-close {
	display: block;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url(../img/close-icon.png) center no-repeat;
}

.form-popup-label {
	display: block;
	margin-bottom: 10px;
}

.form-popup-input-text {
	color: #48cbe8;
	font-size: 13px;
	line-height: 16px;
	padding: 10px;
	width: 300px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
}

.form-popup-input-file {
	width: 272px;
	height: 41px;
	color: #48cbe8;
	font-size: 13px;
	line-height: 16px;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	padding: 0;
	position: relative;
}

.form-popup-input-file-origin {
	position: absolute;
	top: 0;
	left: -9999px;
}

.form-popup-input-fake {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 40px;
	line-height: 42px;
}

.form-popup-input-file-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 280px;
	background-image: url(../img/file-icon.png) center center no-repeat;
}
